<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h1>Drama &amp; Soaps</h1>
            </div>
            <div class="col-md-12 no-padding">
                <!-- Doc Martin -->
                <div class="drama-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="section no-padding drama-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 no-padding">
                                                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
                                            </div>
                                            <div class="col-md-8 drama-content">
                                                <h3>Doc Martin</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                                                    <br>Ut enim ad minim veniam, quis nostrud</p>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="schedule-text">Friday 26 Jun 9:00pm</p>
                                                    </div>
                                                    <div class="pull-right col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-4 pull-right vertical-line-left text-right">
                                                                <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>27 days</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>22m</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-right-shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Doc Martin -->
                <!-- Coronation Street -->
                <div class="drama-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="section no-padding drama-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 no-padding">
                                                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
                                            </div>
                                            <div class="col-md-8 drama-content">
                                                <h3>Coronation Street</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                                                    <br>Ut enim ad minim veniam, quis nostrud</p>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="schedule-text">Friday 26 Jun 9:00pm</p>
                                                    </div>
                                                    <div class="pull-right col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-4 pull-right vertical-line-left text-right">
                                                                <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>27 days</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>22m</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-right-shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Coronation Street -->
                <!-- Black Work -->
                <div class="drama-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="section no-padding drama-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 no-padding">
                                                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
                                            </div>
                                            <div class="col-md-8 drama-content">
                                                <h3>Black Work</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                                                    <br>Ut enim ad minim veniam, quis nostrud</p>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="schedule-text">Friday 26 Jun 9:00pm</p>
                                                    </div>
                                                    <div class="pull-right col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-4 pull-right vertical-line-left text-right">
                                                                <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>27 days</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>22m</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-right-shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Black Work -->
                <!-- Home Fires -->
                <div class="drama-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 no-padding">
                                <div class="section no-padding drama-box">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 no-padding">
                                                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
                                            </div>
                                            <div class="col-md-8 drama-content">
                                                <h3>Home Fires</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                                                    <br>Ut enim ad minim veniam, quis nostrud</p>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p class="schedule-text">Friday 26 Jun 9:00pm</p>
                                                    </div>
                                                    <div class="pull-right col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-4 pull-right vertical-line-left text-right">
                                                                <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>27 days</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 pull-right">
                                                                <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                                                                <div class="media-body">
                                                                    <p>22m</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-right-shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Home Fires -->
            </div>
        </div>
    </div>


</div>
</div>
