<div class="section bg-footer">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="section">
           <div class="container">
             <div class="row">
               <div class="col-md-3">
                 <p class="text-muted">Copyright © 2015 Player Ltd.</p>
                 <p class="text-muted">All Rights Reserved.</p>
               </div>
               <div class="col-md-4 vertical-line-left">
                 <p class="text">Lorem ipsum dolor sit amet, consectetur adipisici elit,
                   <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                   <br>Ut enim ad minim veniam, quis nostrud</p>
               </div>
               <div class="col-md-2">
                 <ul class="media-list">
                   <li>
                     <div class="media-body">
                       <h5 class="footer-menu"><a href="#">Privacy Policy</a></h5>
                     </div>
                   </li>
                   <li>
                     <div class="media-body">
                       <h5 class="footer-menu"><a href="#">Terms and Conditions</a></h5>
                     </div>
                   </li>
                   <li>
                     <div class="media-body">
                       <h5 class="footer-menu"><a href="#">FAQs</a></h5>
                     </div>
                   </li>
                   <li>
                     <div class="media-body">
                       <h5 class="footer-menu"><a href="#">Accesibility</a></h5>
                     </div>
                   </li>
                   <li>
                     <div class="media-body">
                       <h5 class="footer-menu"><a href="#">Cookie Policy</a></h5>
                     </div>
                   </li>
                 </ul>
               </div>
               <div class="col-md-3 vertical-line-left">
                 <ul class="media-list">
                   <li class="media">
                     <a class="pull-left" href="#"><i class="fa fa-3x fa-twitter fa-fw footer-icons"></i></a>
                     <div class="media-body">
                       <h4 class="footer-menu"><a href="#">@Player</a></h4>
                     </div>
                   </li>
                   <li class="media">
                     <a class="pull-left" href="#"><i class="fa fa-3x fa-fw fa-facebook-square footer-icons"></i></a>
                     <div class="media-body">
                       <h4 class="footer-menu"><a href="#">facebook</a></h4>
                     </div>
                   </li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
