<div class="section bg-shows">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 contenteditable="true">More Episodes</h1>
        <hr>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
              </div>
              <div class="col-md-7">
                <h3>Emmerdale</h3>
                <p class="schedule-text">Thrusday 25 Jun 8:00pm</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
              </div>
              <div class="col-md-2 vertical-line-left min-height-schedule">
                <ul class="media-list schedule-text">
                  <li class="media">
                    <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">22m</h4>
                    </div>
                  </li>
                  <li class="media">
                    <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">27 days</h4>
                    </div>
                  </li>
                </ul>
              </div>
              <ul class="media-list"></ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
              </div>
              <div class="col-md-7">
                <h3>Emmerdale</h3>
                <p class="schedule-text">Thrusday 25 Jun 8:00pm</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
              </div>
              <div class="col-md-2 vertical-line-left min-height-schedule">
                <ul class="media-list schedule-text">
                  <li class="media">
                    <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">22m</h4>
                    </div>
                  </li>
                  <li class="media">
                    <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">27 days</h4>
                    </div>
                  </li>
                </ul>
              </div>
              <ul class="media-list"></ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
              </div>
              <div class="col-md-7">
                <h3>Emmerdale</h3>
                <p class="schedule-text">Thrusday 25 Jun 8:00pm</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
              </div>
              <div class="col-md-2 vertical-line-left min-height-schedule">
                <ul class="media-list schedule-text">
                  <li class="media">
                    <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">22m</h4>
                    </div>
                  </li>
                  <li class="media">
                    <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">27 days</h4>
                    </div>
                  </li>
                </ul>
              </div>
              <ul class="media-list"></ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <img src="{{ page.url }}img/pod1.jpg" class="img-responsive">
              </div>
              <div class="col-md-7">
                <h3>Emmerdale</h3>
                <p class="schedule-text">Thrusday 25 Jun 8:00pm</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
              </div>
              <div class="col-md-2 vertical-line-left min-height-schedule">
                <ul class="media-list schedule-text">
                  <li class="media">
                    <i class="fa fa-clock-o pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">22m</h4>
                    </div>
                  </li>
                  <li class="media">
                    <i class="fa fa-calendar pull-left" aria-hidden="true"></i>
                    <div class="media-body">
                      <h4 class="media-heading">27 days</h4>
                    </div>
                  </li>
                </ul>
              </div>
              <ul class="media-list"></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-lg btn-primary pull-right">See all new episodes <span class="badge">20</span></a>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <h5 class="text-center shows-legals">Due to broadcast rights, this show is not available in your region.</h5>
          </div>
        </div>
    </div>
  </div>
</div>
