<div class="section bg-nav">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <a class="navbar-brand" href="#"><span>Logo</span><br><br></a>
          </div>
          <div class="lead col-md-5 text-center">
            <ul class="nav nav-justified">
              <li class="">
                <a href="#">Home</a>
              </li>
              <li class="vertical-line-left">
                <a href="#">Schedule</a>
              </li>
              <li class="vertical-line-left">
                <a href="#">All Shows</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 seach-padding">
            <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
          </div>
        </div>
      </div>
</div>
