<div class="section bg-onnow">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="text-muted text">Heading</h1>
        <p class="text">Time and date</p>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisici elit,
          <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
          <br>Ut enim ad minim veniam, quis nostrud</p>
      </div>
      <div class="col-md-2 vertical-line-left min-height-schedule">
        <ul class="media-list">
          <li class="media text">
            <i class="fa fa-clock-o pull-left text" aria-hidden="true"></i>
            <div class="media-body">
              <h4 class="media-heading">22m</h4>
            </div>
          </li>
          <li class="media text">
            <i class="fa fa-calendar pull-left text" aria-hidden="true"></i>
            <div class="media-body">
              <h4 class="media-heading">27 days</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
