<div class="section bg-player">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <a href="#"><img src="{{ page.url }}img/player.png" class="img-responsive"></a>
      </div>
      <div class="col-md-4">
        <img class="center-block img-responsive" src="{{ page.url }}img/azure.png">
      </div>
    </div>
  </div>
</div>
