<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include on-now.html %}
    {% include player.html %}
    {% include more-episodes.html %}
    {% include dramas-soaps.html %}
    {% include recommended.html %}
    {% include footer.html %}
  </body>
</html>
